PROJECT_NAME=

ENV= #regex=^(local|dev|stg|prod)$

# Database
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

TZ=Asia/Tokyo

DB_DEBUG_LOG=true #regex=^(true|false)$

# Key Manager
KEY_MANAGER=FILESYSTEM
KEY_FILESYSTEM_ROOT="/app/local/keys"

# Data Encryption Manager
ENCRYPTION_KMS_KEY_ID="system/ledger-encryption-key"
ENCRYPTION_CACHE_TTL=300s
ENCRYPTION_AAD=0x123456

# Build
BUILD_MODE=dev #regex=^(demo|dev|prod)$

# Logging
LOG_LEVEL=default #regex=^(default|debug|info|notice|waring|error|alert|emergency)$
LOG_MODE=dev #regex=^(dev|prod)$
