# build
build/
dist/

# env
*.env*
!.env.example
!.env.test
# secrets variables are written in .env* files, and .envrc is only used to load them
!.envrc

# work
local/
.vscode/
.jj/

# db
db/docker/logs/

# go
air_tmp
